
{{show}}

<div><app-date-picker></app-date-picker></div>
<div class="header1">
<a (click)="loadevents()"> loadevents</a>
<button (click)="addEvent()">add Event</button>
<p>Display event : {{displayEvent | json}}</p></div>
<div *ngIf="calendarOptions">
    <ng-fullcalendar #ucCalendar [options]="calendarOptions" (eventClick)="eventClick($event.detail)" (eventDrop)="updateEvent($event.detail)"
        (eventResize)="updateEvent($event.detail)" (dayClick)="dayClick($event.detail)" (clickButton)="clickButton($event.detail)" [(eventsModel)]="events"></ng-fullcalendar>
</div>
clear

    
           
<div  class="col-lg-6 col-md-6 col-sm-9 col-xs-9" style="padding: 10px" align="right">
        

        <span>Calendars</span>
        
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createCalendar">
                <i class="fa fa-plus" aria-hidden="true"></i>
              </button>
              
              <!-- Modal -->
              <div class="modal fade" id="createCalendar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                    
                      <h4 class="modal-title" id="exampleModalLabel">New Calendar</h4>
                      
                      <button type="button" class="close" align="right" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                            <form   [formGroup]="calendarForm" (ngSubmit)="createCalendarTest(calendarForm)">
                                    <div class="form-group" [ngClass]="setClassCalendarName()">
                                    <!--<label for="recipient-name" class="col-form-label">Calendar Name:</label>-->
                                    
                                     
                                        <input type="text" class="form-control"   name="calendar_name" formControlName="calendar_name" placeholder="Calendar Name">
                                    
                                    </div>
                                    <div class="form-group" [ngClass]="setClassReportTo()">
                                     <!--<label for="message-text" class="col-form-label">Report To:</label>-->
                                      <textarea class="form-control" name="report_to" formControlName="report_to" placeholder="Report To"></textarea>
                                    </div>
                                  </form>
                          
                            
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="close"></button>
                      <button type="button" [disabled]="!calendarForm.valid"  class="btn btn-primary" (click)="clickModalTwo(calendarForm)" data-dismiss="modal">Create Calendar</button>
                    </div>
                  </div>
                </div>
              </div>
      
              <div *ngFor="let result of calendarResult">
              <!--<div class="squaredThree">-->
                
                    <input type="checkbox"   name="optionsRadios" id="checkOther" value="other">
                    <label for="checkOther"> </label><a (click)="OpenCalendarModel(result._id)" title="more">{{ result.name}}</a>
                   
                    <br/>
                                                     
               <!-- </div>-->
                 
                   
              </div>
               <!-- Modal -->
               <div class="modal fade" id="editCalendar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                      
                        <h4 class="modal-title" id="exampleModalLabel">Edit Calendar</h4>
                        
                        <button type="button" class="close" align="right" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                              <form   [formGroup]="calendarForm" (ngSubmit)="editCalendarTest(calendarForm)">
                                      <div class="form-group" [ngClass]="setClassCalendarName()">
                                        <!--<label for="recipient-name" class="col-form-label">Calendar Name:</label>-->
                                      
                                       
                                       
                                      
                                          <input type="text" class="form-control" [ngModel]="EditCalendarResult?.name"     name="calendar_name" formControlName="calendar_name" placeholder="Calendar Name">
                                      
                                      </div>
                                      <div class="form-group" [ngClass]="setClassReportTo()">
                                       <!-- <label for="message-text" class="col-form-label">Report To:</label>-->
                                        <textarea class="form-control" name="report_to" [ngModel]="EditCalendarResult?.emailNotificationList" formControlName="report_to" placeholder="Report To"></textarea>
                                      </div>
                                    </form>
                            
                              
                      </div>
                      <div class="modal-footer">
                          <button type="button" class="close"></button>
                        <button type="button" [disabled]="!calendarForm.valid"  class="btn btn-primary" (click)="clickModalTwoEdit(calendarForm)" data-dismiss="modal">Edit Calendar</button>
                      </div>
                    </div>
                  </div>
                </div>
        
              <div *ngIf="show" style="float:right!important;position: relative;border: 2px solid lightgrey;padding: 10px;border-radius: 5px;">
        
                  <i class="fa fa-times deal-report-cross" style="cursor: pointer"  aria-hidden="true" (click)="closeCalendarModel()"></i>
                  <div class="deal-text"> 
                      <button type="button" class="btn btn-primary"  data-toggle="modal" data-target="#createShift">
                         Add Shift
                        </button>  <br/><br/>
                        <button  type="button" class="btn btn-primary" (click)="EditCalendar(calendarid)"  data-toggle="modal" data-target="#editCalendar">
                            Edit
                           </button>
<br/><br/>
Status: <ui-switch (change)="UpdateCalendarStatus($event)" size="small"  checked></ui-switch><br/>
<!--reverse-->
Calendar Code:  <input  [value]="color"
                           [style.background]="color" 
                           [cpCancelButton]="true"
                          [(colorPicker)]="color">
                          
             <br/><br/>
                          <button  type="button"   class="btn btn-danger" (click)="DeleteCalendar(calendarid)"  >Delete Calendar</button>
                        
                        <!-- Modal -->
                        <div class="modal fade" id="createShift" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h4 class="modal-title" id="exampleModalLabel">New Shift</h4>
                                <button type="button" class="close" align="right" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                      <form [formGroup]="shiftForm" (ngSubmit)="createShiftTest(shiftForm)">
                                              <div class="form-group" [ngClass]="setClassShiftName()">
                                                <!--<label for="recipient-name" class="col-form-label">Calendar Name:</label>-->
                                                
                                               
                                                  <input type="text" class="form-control" name="shift_name" formControlName="shift_name" placeholder="Shift Name" required>
                                              
                                              </div>
                                              <div class="form-group" [ngClass]="setClassShiftDateTime()"> 
                                               <!-- <label for="message-text" class="col-form-label">Report To:</label>-->
                                                <input class="form-control" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" name="shift_datetime" formControlName="shift_datetime" placeholder="Shift Date Time" required>
                                                
                                                <owl-date-time #dt1></owl-date-time>
                                                
                                              </div>
                                            </form>
                                    
                                      
                              </div>
                              <div class="modal-footer">
                                  <button type="button" class="close"></button>
                                <button type="button" [disabled]="!shiftForm.valid"  class="btn btn-primary" (click)="clickModalShift(shiftForm)" data-dismiss="modal">Create Shift</button>
                              </div>
                            </div>
                          </div>
                        </div>
                
                  </div>
                </div>

    
    
        
      
    

</div>

<router-outlet></router-outlet>
