.main-container{
    margin-top: 60px;
    margin-left: 260px;
}
.red-border{
    border:1px solid red;
}


/*calendar css*/
.main-container{
    background:#fff;
}
.day.active{
    border-radius: 13px;
}
/* timezone */

.line{
    border-top: 1px solid rgb(207, 207, 207);
    /* margin-right:60px; */
    margin-top: 10px;
    margin-bottom: 15px;


}


.calendar-timezone{
    margin-top: 0px;
    margin-bottom: 40px;
    
}
.calendar-timezone span{
    margin-left:10px;
    font-weight:600;
    
}
.calendar-plus-icon{
    margin-bottom: 30px;

}
.calendar-plus-icon h3{
 
    width:100%;
}

.calendar-plus-icon .fa-plus{
width:100%;
    font-size:20px;
}
.btn-plus-popup{
    float: right;
    border: none;
    background: none;
    outline:none;}




.calendar-text{
    margin-top: 22px;
    margin-bottom:30px;

}
.calendar-text p{
    font-size:18px;
    text-align: justify;
    font-weight:400;
    color:rgb(172, 170, 170);

}
/* Popup */

#createCalendar{
    padding-right:0px;
}

.modal-content {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
}
.modal-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #e9ecef;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
}
.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    padding-left: 400px!important;
}


.modal-footer .button{
 
    margin-right:165px;
}
.btn1{
    background-color:rgb(17, 146, 129);
    color:#fff;
}


/* list */


    

.calendar-list {
    padding-left:2px;
    padding-top:15px;
}
.calendar-list li{
   list-style: none;
    overflow: auto;

}
.calendar-list a{
    padding: 10px 14px;
    float: left;
    width: 100%;
    color:rgb(94, 94, 94);
    font-weight:400;
}
.calendar-list a .three-dots{
    display:none;
}

.calendar-list  a span{
margin-left:15px;

}
.fa-ellipsis-v{
  padding:5px 13px 5px 5px;
  color:rgb(94, 94, 94); 
}


  
 
/* Hover */
.calendar-list li a:hover{
    text-decoration: none;
    outline:none;
    color:rgb(94, 94, 94);
    display: block;
    cursor:default;
    font-weight:400;

    
    background-color:rgb(224, 223, 223);
 } 
 .calendar-list li a:hover .three-dots{
     display:block;
 }
 .calendar-list .three-dots:hover{
     cursor:pointer;
 }
 /* CheckBox Size */
 .calendar-list input[type=checkbox] {
    transform: scale(1.5);
  }

  
.month {
    
    width:100%;
    border-collapse: collapse;
    border-spacing: 0px; 
    border: 1px solid #ddd;
    color:rgb(75, 75, 75);
    font-family: 'Times New Roman', Times, serif;

}

/* =======table========== */

.button-left{
   margin:15px;
}
.button-left h4{
    padding:0;
    margin:0;
}

.button-right{
    margin:15px 0;
}

.month .row1{
    height:120px;
    
}
.month.dates{
	color:rgb(173, 173, 173);
}
.month th{
    border:1px solid #ddd;
    color:rgb(255, 255, 255);
    background-color: #7c2380;
}
.event {
    
      font-size: 13px;
      border-radius: 4px;
      margin-bottom: 5px;
      line-height: 14px;
      background: #e4f2f2;
      border: 1px solid #b5dbdc;
      color: #009aaf;
      text-decoration: none;
  }
  .event-desc {
	color: #666;
	/* margin: 3px 0 7px 0; */
	text-decoration: none;	
}

.month td{
border: 1px solid rgb(236, 236, 236);


} 

/*====== days ======= */
 
.days
{
    width:100%;
    border-collapse: collapse;
    border-spacing: 0px; 
    border: 1px solid #ddd;
    color:rgb(75, 75, 75);
    font-family: 'Times New Roman', Times, serif;
}
.days th{
    border:1px solid #ddd;
    color:rgb(255, 255, 255);
    background-color: #7c2380;
}

.days td{
    border: 1px solid rgb(236, 236, 236);

}


.days.secrow
{
   height:50px;
   border-bottom: 4px solid #ddd;
}

.days.secrow1{
   height:20px;
     border-bottom:2px solid #ddd;  

}

/* ===Week=== */
 
.week {
    width:100%;
    border-collapse: collapse;
    border-spacing: 0px; 
    border: 1px solid #ddd;
    color:rgb(75, 75, 75);
    font-family: 'Times New Roman', Times, serif;
}
.week th{
    border:1px solid #ddd;
    color:rgb(255, 255, 255);
    background-color: #7c2380;
}

.week td{
    border: 1px solid rgb(236, 236, 236);

}


/* LIST */


.list{
    padding-top:50px;
}
.bagdes{
    padding: 30px;
}

.bagdes span{
    margin-left:200px;
    font-weight: 600;
}

.bagdes .form-control{
    
    float:right;
    width:250px; 
} 
.table{
    margin-top:50px;
}

/* shift-model-view */
.closeShift
{
float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    cursor: pointer;
   

}
/*Edit*/
.edit {
   
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    cursor: pointer;
    
}
/*Edit*/
.delete {
    float: center;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    cursor: pointer;
   
}
/* color-picker */

