<div class="container" >
  <div class="row"> 
    
    <!-- Mixins--> 
    <!-- Pen Title-->
    
    <div class="container" >
      <div class="card" style="margin-top:35%; position:relative;" >
        <div class="input-container"><br/>
          <img src="../../assets/images/zapoj.jpg"  height="50" alt="Logo">
          <h2 class="title">Reset Password </h2>
        </div>
        <form (ngSubmit)="resetPasswordSubmit()">
          <!--<div class="input-container PWweek"> <strong><i class="fa fa-check-circle"></i> Your password is strong</strong> <br></div>-->
          <div class="input-container">
            <input type="password" id="oldPassword" name="current_password" [(ngModel)]="current_password" required="required"/>
            <label for="Password">Old Password</label>
            <div class="bar"></div>
          </div>
          <div class="input-container">
            <input type="password" id="newPassword" name="password" [(ngModel)]="password" required="required"/>
            <label for="newPassword">New Password</label>
            <div class="bar"></div>
          </div>
          <div class="input-container">
            <input type="password" id="confirmPassword" name="password_confirmation" [(ngModel)]="password_confirmation" required="required"/>
            <label for="confirmPassword">Confirm Password</label>
            <div class="bar"></div>
          </div>
          <div class="input-container"> <br/>
            <i>Password Strength:</i><strong class="PWstrong"> Strong</strong> <br/>
            <div class="btn-group-xs">
              <div type="button" class="btn btn-success">&nbsp;</div>
              <div type="button" class="btn btn-success">&nbsp;</div>
              <div type="button" class="btn btn-success">&nbsp;</div>
            </div>
          </div>
          <div class="input-container"> <br/>
            <br/>
            <br/>
            <button class="btn btn-primary btn-md pull-right">Submit</button>
            <button class="btn btn-md pull-right" style="margin-right:20px;">Cancel</button>
          </div>
          <br/>
        </form>
        <div class="clearfix"></div>
        <br/>
        <br/>
      </div>
      <div class="card" style="background:none; box-shadow:none; padding-top:0px;">
        <div class="input-container">
          <div class="row"> <br/>
            <br/>
            <span class="pull-left">
            <select  id="selectLanguage" class="selectLang">
              <option>Language</option>
              <option>English (US)</option>
              <option>English (UK)</option>
              <option>Chenese</option>
            </select>
            </span> <span class="pull-right"></span>
            <ul class="footer-menu text-right">
              <li><a href="#">Policy</a></li>
              <li><a href="#">Terms</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>