<!-- SIDEBAR - START -->
<style>
  a[aria-expanded='true'] {
    font-weight: bold;
  }

  li ul li a {
    padding-left: 35px !important;
  }
  /* width */
  ::-webkit-scrollbar {
    width: 7px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 10px;
  }

  .wraplist {
    background-color: transparent !important;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover, ::-webkit-scrollbar-thumb {
    background: #000000;
  }

  .stylesClass {
    background-color: rgba(33, 33, 33, 0.1);
  }
</style>
<div class="page-sidebar fixedscroll">
  <!-- MAIN MENU - START -->
  <div class="page-sidebar-wrapper" id="main-menu-wrapper" style="height:auto;">

    <ul class="wraplist" style="height: auto;">
      <li> <a href="/dashboard" routerLinkActive="active"> <i class="fa fa-dashboard"></i> <span class="title">Dashboard</span></a></li>
      <li> <a routerlink="/calendar" routerLinkActive="active"> <i class="fa fa-dashboard"></i> <span class="title">Calendar</span></a></li>
     

      <!--<li> <a href="home.html"> <i class="fa fa-home"></i> <span class="title">Home</span> </a> </li>-->
      <!--<li> <a href="index.html"> <i class="fa fa-dashboard"></i> <span class="title">Dashboard</span></a></li>
      <li>
        <a routerLink="user"> <i class="fa fa-lock"></i> <span class="title">Access</span> <span class="arrow "></span></a>
        <ul class="sub-menu">
          <li> <a routerLink="roles"> <span class="title">Roles </span></a></li>
          <li> <a routerLink="user"><span class="title">Users </span></a></li>
        </ul>
      </li>
      <li class="open"> <a routerLink="account"> <i class="fa fa-users"></i> <span class="title">Account</span></a></li>
      <li class=""> <a routerLink="reports"> <i class="glyphicon glyphicon-stats"></i> <span class="title">Reports</span></a></li>
      <li class=""> <a routerLink="map"> <i class="glyphicon glyphicon-map-marker"></i> <span class="title">Maps</span></a></li>
      <li class=""> <a routerLink="incident-management"> <i class="fa fa-exclamation-triangle"></i> <span class="title">Incident Management</span></a></li>
      <li class=""> <a routerLink="notification-template"> <i class="fa fa-bullhorn"></i> <span class="title">Notification Management</span></a></li>
      <li class=""> <a routerLink="message-template"> <i class="fa fa-envelope"></i> <span class="title">Message Template</span></a></li>
      <li class=""> <a routerLink="calendar"> <i class="fa fa-calendar"></i> <span class="title">Calendar</span></a></li>
      <li class=""> <a routerLink="it-alerts"> <i class="fa fa-bell"></i> <span class="title">IT Alerting</span></a></li>
      <li>
        <a href="javascript:;"> <i class="fa fa-columns"></i> <span class="title">Contact Management</span> <span class="arrow "></span></a>
        <ul class="sub-menu">
          <li> <a routerLink="contacts">Contacts</a></li>
          <li> <a routerLink="upload-contacts">Upload Contacts</a></li>
          <li> <a routerLink="contacts/groups">Contacts Groups</a></li>
          <li> <a routerLink="contacts/search">Search Terms</a></li>
        </ul>
      </li>-->
    </ul>
  </div>
  <!-- MAIN MENU - END -->
</div>
<!--  SIDEBAR - END -->
